* {
	background-color: #eeeeee;
}


#felso
{
	margin-top: 30px;
}

.kozep
{
	text-align: center;
}

.kepfelirat
{
	text-align: center;
}

.galeriakep
{
	margin: auto;
	display: block;
}

#tortenet {
	font-weight: bold;
}

a {
	font-weight: bold;
}